body {
    padding-top: 51px !important;
}

:root{
    --primary:#0b97de;
    --secondary:#095c8d;
    --light:#cbe4fc;
    --white:#fff;
}
.carousel-inner{
    height:400px !important;
}
.navbar-brand img{
    width:150px;
}
img.card-img-top {
    height: 250px !important;
}

.topper {
    position: fixed;
    width: 45px;
    height: 45px;
    background: #ff6a00;
    bottom: 50px;
    right: 15px;
    border-radius: 12%;
    padding: 12px;
}

a.navbar-brand {
    padding: 0;
}

nav.navbar.navbar-expand-lg.bg-dark.navbar-dark.fixed-top {
    padding: 4px 0px;
}

.topper .fa-angle-up {
    font-size: 30px;
    color: #fff;
    line-height: 24px;
}

.navbar.bg-dark, .footer_top {
    background-color: var(--primary) !important;
}

/*.footer_section{
    position: relative;
   
}*/

.footer_section {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_section .bg-black {
    background-color: var(--secondary) !important;
}
#action, #faq{
    color: var(--white) !important;
}

.login_btn{
    background-color: #095099 !important;
    border: 1px dotted #fff;
}

input.btn.btn-primary,
input.btn.btn-danger{
    width: 75px;
    height: 54px;
    border-radius: 0;
}

/*.cal_scr {
    height: 79px;
    padding: 20px 10px;
    background-color: black !important;
    color: white !important;
}*/

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f3f3f3;
    background-color: #0e0d0d;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
   
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 75px;
    padding: 20px 10px;
}
